* {
    margin: 0;
    padding: 0;
}

/* google font start*/
body {
    font-family: 'Lato', sans-serif;
}

/* google font end*/

/* primary button start */
.btn_primary {
    color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    font-size: 20px;
}

/* primary button end */

/* Header section start */
header > section{
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 30px;
}

.header_title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.header_description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    line-height: 30px;
    margin: 20px 0;
}

.header_image_container img{
    width: 450px;
    margin: -4px;
}
/* Our featured section end */