* {
    margin: 0;
    padding: 0;
}

/* google font start*/
body {
    font-family: 'Lato', sans-serif;
}

/* google font end*/

/* primary button start */
.btn_primary {
    color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    font-size: 20px;
}

/* primary button end */

/* Header section start */
.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 30px;
}

.header_heading {
    color: #272727;
    font-size: 60px;
    font-weight: 700;
}

.header_description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    line-height: 30px;
    margin: 30px 0;
}

.header_image {
    width: 450px;
}

/* Header section end */

/* Our featured section start */
.content_heading {
    padding: 100px 0 20px 0;
    color: #272727;
    text-align: center;
    font-size: 40px;
}

.content_description {
    color: rgba(39, 39, 39, 0.60);
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 600px;
}

.our_featured_images_1 {
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 450px;
    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.our_featured_images_2 {
    background: rgba(5, 151, 160, 0.15);
    width: 400px;
    height: 450px;
    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.our_featured_images_3 {
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 450px;
    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.our_featured_image_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: 50px 150px;
}

.images {
    width: 250px;
    height: 350px;
}
/* Our featured section end */